@model IEnumerable<siteComponente.Domain.Entities.Categories.Category>
@using siteComponente.Web.Extensions

@{
     var user = System.Web.HttpContext.Current.GetMySessionObject();
     Layout = "~/Views/_LayoutPage1.cshtml";
}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<section id="breadcrumbs" class="breadcrumbs" style="margin-top: 69px">
     <div class="container text-register">
          <div class="d-flex justify-content-between align-items-center">
               <h2 class="page-title">Categories</h2>
          </div>

     </div>
</section>
          }
<section>
     <div class="container text-register" data-aos="fade-up" style="margin-top: -50px">
          @if ((user != null) && (user.AccessLevel == siteComponente.Domain.Enum.URole.ADMINISTRATOR))
          {
               <h4 style="text-align: right">

                    @Html.ActionLink("Add Category", "CreatePage")

               </h4>
          }
          <div class="row">
               <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                    <div class="MultiCarousel-inner">
                         <div class="products text-register">
                              @foreach (var item in Model)
                              {
                                   <div class="item" style="border: 100px">
                                        <img style="width: 300px; height: 300px; object-fit: cover; border-radius: 20px; border: 1px solid #ddd; border-radius: 4px; padding: 7px" src="@Html.DisplayFor(modelItem => item.Thumbnail)" />
                                        <h2 class="lead">@Html.DisplayFor(modelItem => item.Name)</h2>
                                        <h7>#@Html.DisplayFor(modelItem => item.Id) &emsp;&emsp;&emsp;&emsp;&emsp;</h7>
                                        @if ((user != null) && (user.AccessLevel == siteComponente.Domain.Enum.URole.ADMINISTRATOR))
                                        {
                                             <p>
                                                  @Html.ActionLink("Edit", "Edit", new { id = item.Id }) &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                                  @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                             </p>
                                        }
                                   </div>
                              }
                         </div>
                    </div>
                    <div>
                         <button class="btn btn-primary leftLst"><</button>
                         <button class="btn btn-primary rightLst">></button>
                    </div>
               </div>
          </div>
     </div>
</section>

