@model siteComponente.Domain.Entities.Products.Product

@{
     ViewBag.Title = "Delete";
     Layout = "~/Views/_LayoutPage1.cshtml";
}

<body>
     <section style="margin-top: 45px; color:red">
          <h2 style="text-align: center; font-family: cursive; font-size: 70px">ATTENTION!</h2>
          <section class="container text-register" style="text-align: center">
               <h3>Are you sure you want to delete this?</h3>
               <div>
                    <h4>Product</h4>
                    <dl class="dl-horizontal">
                         <dt>
                              @Html.DisplayNameFor(model => model.Name)
                         </dt>

                         <dd>
                              @Html.DisplayFor(model => model.Name)
                         </dd>

                         <dt>
                              @Html.DisplayNameFor(model => model.Price)
                         </dt>

                         <dd>
                              @Html.DisplayFor(model => model.Price)
                         </dd>

                         <dt>
                              @Html.DisplayNameFor(model => model.Amount)
                         </dt>

                         <dd>
                              @Html.DisplayFor(model => model.Amount)
                         </dd>

                         <dt>
                              @Html.DisplayNameFor(model => model.Thumbnail)
                         </dt>

                         <dd>
                              @Html.DisplayFor(model => model.Thumbnail)
                         </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                         @Html.AntiForgeryToken()

                         <div class="form-actions no-color">
                              <input type="submit" value="Delete" class="btn btn-default text-register" />
                              @Html.ActionLink("Back to List", "Index")
                         </div>
                    }
               </div>
          </section>
     </section>
</body>